body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1%;
  border: solid 2px lightgray;
  padding: 10%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.collection {
  display: flex;
  flex-flow: column nowrap;
  margin: 1%;
  border: solid 2px lightgray;
  padding: 2%;
}

.collection > div > form {
  border: none;
}

.tab-container {
  display: flex;
  justify-content: space-around;
}

.tab {
  cursor: pointer;
}

.tab.clicked {
  color: red;
}

/*.new-collection {
  background: orange;

  cursor: pointer;
}*/

.new-collection {
  /*margin: 25px auto;*/
  width: 33%;
  align-self: center;
  padding: 1%;
  position: relative;
  background: orange;
  /*height: 40px;*/
  cursor: pointer;
  -moz-box-shadow:    0px 2px 1px 0px #000;
  -webkit-box-shadow: 0px 2px 1px 0px #000;
  box-shadow:         0px 2px 1px 0px #000;
  border-radius: 2%;
}

.new-collection:hover {
  -moz-box-shadow:    0px 1px 1px 0px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #000;
  box-shadow:         0px 1px 1px 0px #000;
  top: 1px;
}

.new-collection:active {
  -moz-box-shadow:    0px 0px 0px 0px #000;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow:         0px 0px 0px 0px #000;
  top: 2px;
  color: black;
  background: orange;
  border: solid lightgray 1px;
}

.new-collection:focus {
  outline: 0;
}
