body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgray;
  overflow-x: hidden;
}

.app {
  margin: 0 15%;
  background: white;
  min-height: 100vh;
  max-height: 1700px;
  min-width: 450px;
  padding: 10%;
  display: flex;
  flex-flow: column nowrap;
}

a {
  color: black;
}

a:visited {
  color: black;
}

select, input {
  width: 100%;
  font-size: 16px;
  margin: 5% 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1%;
  border: solid 2px lightgray;
  padding: 10%;
}

.form-enter-data {
  margin-top: 30%;
  padding: 2%;
  font-size: 14px;
  font-family: monospace;
  min-width: 150px;
  max-width: 33%;
  align-self: center;
  background: lightgray;
}

.datetime-input {
  display: flex;
  justify-content: space-between;
}

input[type="date"], input[type="time"] {
  width: 45%;
}

input[type="checkbox"] {
  width: unset;
  margin-right: 2px;
}

textarea {
  width: 100%;
}

.event {
  background-color: #434343;
  background-image:linear-gradient(#FFFFFF, #FFFFFF);
}

.collection {
  display: flex;
  flex-flow: column nowrap;
  margin: 1%;
  border: solid 2px lightgray;
  padding: 2%;
}

.collection, .event-summary {
  overflow-y: scroll;
  background-color: transparent;
  background-image:
  linear-gradient(0deg, transparent 24%,
    rgba(0, 0, 0, .05) 25%,
    rgba(0, 0, 0, .05) 26%,
    transparent 27%, transparent 74%,
    rgba(0, 0, 0, .05) 75%,
    rgba(0, 0, 0, .05) 76%,
    transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%,
    rgba(0, 0, 0, .05) 25%,
    rgba(0, 0, 0, .05) 26%,
    transparent 27%, transparent 74%,
    rgba(0, 0, 0, .05) 75%,
    rgba(0, 0, 0, .05) 76%,
    transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}

.collection > div > form {
  border: none;
}

.tab-container {
  display: flex;
  justify-content: space-around;
}

.tab {
  text-decoration: none;
  text-transform: uppercase;
}

.tab.clicked {
  color: red;

}

a.tab:focused {
  outline: red;
}

.new-collection {
  text-align: center;
  min-width: 100px;
  width: 33%;
  align-self: center;
  padding: 1%;
  position: relative;
  background: orange;
  /*height: 40px;*/
  cursor: pointer;
  -moz-box-shadow:    0px 2px 1px 0px #000;
  -webkit-box-shadow: 0px 2px 1px 0px #000;
  box-shadow:         0px 2px 1px 0px #000;
  border-radius: 2%;
}

.new-collection:hover {
  -moz-box-shadow:    0px 1px 1px 0px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #000;
  box-shadow:         0px 1px 1px 0px #000;
  top: 1px;
}

.new-collection:active {
  -moz-box-shadow:    0px 0px 0px 0px #000;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow:         0px 0px 0px 0px #000;
  top: 2px;
  color: black;
  background: orange;
  border: solid lightgray 1px;
}

.new-collection:focus {
  outline: 0;
}

.collections-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.event-summary-row {
  border-bottom: solid lightgray 1px;
  margin: 2px;
  width: 100%;
  height: 30px;
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
}

.edit-preview {
  display: block;
  border: none;
  padding: unset;
  margin: unset;
}

.edit-preview > input {
  width: unset;
  margin: unset;
  border: dotted 1px lightgray;
}

.checkform {
  display: flex;
  flex-flow: column nowrap;
}

.checkform > div {
  justify-content: space-between;
}

.checkform > div > input, label {
    display: inline-block;
    width: calc(100% * (1/4) - 10px);
    font-size: 16px;
}

.noedit {
  display: none;
}

.event-summary-row > a {
  text-decoration: none;
  color: black;
}

.full-width-a-tag {
  width: 50%;
}
